.secLogin{
    display: flex;
    background: var(--body-color);
    align-items: center;
    justify-content: center;
    min-height: 110vh;
}

.loginContainer{
    position: relative;
    width: 850px;
    height: 550px;
    background: var(--container-color);
    border-radius: 30px;
    box-shadow: 0 0 30px var(--shadow-color);
}
.loginContainer h1{
    font-size: var(--h1-font-size);
    margin: -10px 0;
}
.loginContainer p{
    font-size: var(--small-font-size);
    margin: 15px 0;
}

.form-box{
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    color: var(--text-color);
    text-align: center;
    background: var(--bg-color);
}

form{
    background: var(--bg-color);
    width: 100%;
}

.input-box{
    position: relative;
    margin: 30px 0;
}
.input-box input{
    width: 100%;
    padding: 13px 50px 13px 20px;
    background: var(--white-color);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    outline: none;
    font-size: var(--normal-font-size);
    color: var(--text-color);
    font-weight: var(--font-semi-bold);
}
.input-box input::placeholder{
    color: var(--title-color);
    font-weight: var(--font-medium);
}
.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: var(--title-color);
}

.forgot-link{
    margin: 15px 0 15px;
}
.forgot-link a{
    font-size: var(--normal-font-size);
    color: var(--text-color);
    text-decoration: none;
}

.btnLogin{
    width: 100%;
    height: 48px;
    background: var(--container-color);
    border-radius: 8px;
    box-shadow: 0 0 10px var(--shadow-color);
    border: none;
    font-size: var(--large-font-size);
    color: var(--text-color);
    font-weight: var(--font-semi-bold);
    cursor: pointer;
}

.social-icons a{
    display: inline-flex;
    padding: 10px;
    border: 2px solid var(--border-color);
    border-radius: 8px;
    font-size: 24px;
    color: var(--bgcontrast-color);
    text-decoration: none;
    margin: 0 8px;
}



