.resume-tabs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
    margin-bottom: 100px;
}

.resume-tabs .tab-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    color: var(--text-color);
    font-size: var(--large-font-size);
    font-weight: var(--font-medium);
    padding: 12px 0;
    border-radius: 25px;
    cursor: pointer;
    transition: .3s;
}

.resume-tabs .tab-btn:hover{
    color: var(--gradient-swap);
}

.resume-tabs .tab-btn i{
    font-size: var(--larger-font-size);
    margin-right: 3px;
}

.resume-tabs .tab-btn.active{
    color: var(--first-color);
    background: var(--container-color);
    border: 2px solid var(--border-color);
    box-shadow: 4px 4px var(--shadow-color);
    padding: 12px 25px;
}
.resume-tabs .tab-btn.active:hover{
    color: var(--title-color);
    background: linear-gradient(var(--gradient-direct), var(--gradient-start), var(--gradient-end));
}

.resume-tab-content{
    position: relative;
    width: 100%;
    justify-content: center;
    margin-bottom: 25px;
    display: none;
}
.resume-tab-content.active{
    display: flex;
}

.education .resume-line{
    background: var(--bgcontrast-color);
    width: 2px;
    height: 250px;
}

.resume-items{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 125px;
}

.resume-items .item{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.resume-items .item::before{
    content: "";
    position: absolute;
    background-color: var(--bg-color);
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.resume-items .item .info{
    position: absolute;
    width: 250px;
    display: flex;
    align-items: center;
    column-gap: 25px;
}

.resume-items .item-left .info{
    right: 35px;
}

.resume-items .item-right .info{
    left: 50px;
}

.resume-items .item .info i{
    color: var(--title-color);
    font-size: var(--h2-font-size);
}

.resume-items .item .info h5{
    color: var(--title-color);
    font-size: var(--larger-font-size);
    font-weight: var(--larger-font-size);
    white-space: break-spaces;
    margin-bottom: 10px;
}

.resume-items .item .info p{
    color: var(--text-color);
    font-size: var(--normal-font-size);
    white-space: nowrap;
    margin-bottom: 18px;
}

.resume-items .item .info span{
    position: relative;
    background: var(--container-color);
    color: var(--text-color);
    font-size: var(--font-medium);
    padding: 3px 12px;
    border-radius: 3px;
    border: 1px solid var(--border-color);
}

.experience .resume-line{
    background: var(--bgcontrast-color);
    width: 2px;
    height: 130px;
}

.education, .experience{
    transform: translateY(35px);
}

.skill-container{
    max-width: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 25px;
    row-gap: 50px;
}

.skill-card{
    position: relative;
    background: var(--container-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
    border-bottom: 5px solid var(--gradient-swap);
    border-radius: 10px;
}

.skill-title{
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 50px;
}

.skill-title i{
    font-size: var(--larger-font-size);
    color: var(--title-color);
}

.skill-title span{
    color: var(--text-color);
    font-size: var(--large-font-size);
    font-weight: var(--font-semi-bold);
}

.skill-categories{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 65px;
    row-gap: 35px;
    padding: 0 50px;
}

.skill{
    display: flex;
    column-gap: 15px;
}

.skill-info{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.skill i{
    color: var(--gradient-swap);
    font-size: var(--larger-font-size);
}

.skill-info h5{
    color: var(--title-color);
    font-size: var(--large-font-size);
    font-weight: var(--font-semi-bold);
}

.skill-info span{
    color: var(--text-color);
    font-size: var(--small-font-size);
}


/* Resume pop-up */
.resume-modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: var(--glass-color);
  transition: opacity 0.3s ease;
}

.resume-modal-content {
  background: var(--body-color);
  margin: 5% auto;
  padding: 2rem;
  border-radius: 1rem;
  width: 90%;
  max-width: 1000px;
  box-shadow: 0 0 20px var(--shadow-color);
  animation: fadeInUp 0.4s ease;
}

.close-resume {
  float: right;
  font-size: var(--h2-font-size);
  font-weight: var(--font-bold);
  cursor: pointer;
  color:var(--text-color);
}

.close-resume:hover {
  color: var(--gradient-swap);
}

/* Small animation */
@keyframes fadeInUp {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}